.container  {
    border: 2px solid #dedede;
    background-color: greenyellow;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.message {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    margin-left: 70px;
    width: 300px;
}
.avatar > img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}
/* Стиль строки с временем */
.time {
    float: right;
    color: #aaa;
}

.name {
    color: violet;
}
.text {
    color: darkolivegreen;
}

.message::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 20px;
    height: 20px;
    background: radial-gradient(40px at top left, transparent 50%, rgba(79, 79, 79, 0.6) 0) no-repeat right bottom;
}