.container  {
    display: flex;
    align-items: flex-end;
    border: 2px solid #dedede;
    background-color: greenyellow;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.message {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px 5px 5px 0;
    padding: 10px;

}
.avatar > img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(255, 255, 255, 0.3));
}
/* Стиль строки с временем */
.time {
    float: right;
    color: #aaa;
}

.name {
    color: violet;
}
.text {
    color: darkolivegreen;
    word-wrap: break-word;
    min-width: 150px;
    max-width: 300px;
}

