.buttonX {

}

.container  {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.highPriority {
    color: darkred;
}

.lowPriority {
    color: yellow;
}

.middlePriority {
    color: orange;
}