.container  {
    display: grid;
    padding: 10px;
    margin: 10px 0;
}
.error {
    border: 1px solid red;
}

.text {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #00000080;
}

.errorText {
    font-size: 14px;
    color: red;
    padding: 10px;
}

.button {

    padding: 5px 24px;
    gap: 10px;
    height:36px;
    background: #0066CC;
    opacity: 0.5;
    border-radius: 3px;
}

.input {
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 372px;
    height:36px
}